[Unit]
Description=Grocree WSGI
After=network.target

[Service]
User=hk
Group=hk
WorkingDirectory=/home/hk/grocree
ExecStart=/usr/bin/gunicorn -c gunicorn.conf.py webapp.v1.app:app

[Install]
WantedBy=multi-user.target
