[Unit]
Description=Grocree WSGI
After=network.target

[Service]
User=hk
Group=hk
WorkingDirectory=/home/hk/grocree
ExecStart=/usr/bin/gunicorn

[Install]
WantedBy=multi-user.target
