<!--account api, get reg, post reg--->
<!--form--->
<!doctype html>
<html lang="en">
    <head>
        <link rel=stylesheet href="style.css">
    </head>
    <body>
           <figure class="items">
               <img src="j.png" class="itemIg">
               <figcaption>
                   product description
               </figcaption>
           </figure>
           <figure class="items">
               <img src="j.png" class="itemIg">
               <figcaption>
                   product description
               </figcaption>
           </figure>
            <figure class="items">
               <img src="j.png" class="itemIg">
               <figcaption>
                   product description
               </figcaption>
           </figure>
            <figure class="items">
               <img src="j.png" class="itemIg">
               <figcaption>
                   product description
               </figcaption>
           </figure>
    </body>
</html>
