body {
   display: flex;
   flex-flow: row wrap;
   align-content: center;
   justify-content: space-between;
   border: solid ;
}
.items {
   border: solid fuchsia 1px;
   margin: inherit;
   flex: 1 300px
}
.items >img {
   display: block;
}
lastItem{
   max-width: 250px;
}
.description {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.priceTag {
   border-radius: 40px;
   text-align: center;
   text-align: center;
   align-content: center;
   font-weight: bold;
   font-size: 25px;
   color: green;
 
}