#lenovex230 {
  width: 70%;
  margin: 0 auto;
  max-height: 550px;
  overflow: hidden;
  margin-top: 5px;
  border: solid grey 10px;
  padding: 10px;
  border-radius: 6px;
  font-size: 1.5vw;
}
#lenovex230 .Xcart {
  display: none;
}
@media (max-width:600px){
  #lenovex230 {
    max-height: 350px;
  }
  #lenovex230 .groceryItem {
    max-height: 150px;
  }
  #lenovex230 img {
    max-height: 100px;
  }
  #lenovex230 >.homebar input{
    max-height: 10px;
  } 
  #lenovex230 > .homebar #bell {
    height: 20px;
  }
  #lenovex230 >.homebar #USER img {
    height: 20px;
  }
  #lenovex230 >.homebar input {
    display: inline-block;
  }
}
#lenovex230 >.Xcart {
  display: none;
  right: 0;
}
#computerlook{
  margin-top: 20px;
}
#phn {
  color: green;
  margin: 6px auto;
}
#cintro {
  color: green;
}
#rr {
  color: green;
}
#companyC {
  text-align:center;
  align-content: center;
}
#companyC >ul {
  list-style: none;
}
#devops {
  max-width:50%
}
#Developers {
  border-top:solid 1px green;
  border-bottom: solid 1px green;
}
#intro {
  border-bottom: solid 1px;
}
#look1 {
  align-content: center;
  text-align: center;
}
#look2 {
  text-align: center;
}
#comp {
  text-align: center;
  align-content: center;
  color: green;
  font-weight: bold;
  font-style: italic;
}
#look1 >#phone,#look2>#phone {
  min-width: 300px;
  margin: auto
}
#look1, #look2 {
  border: solid px green;
}
#intro {
  text-align: center;
  min-height: 100px;
  align-content: center;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  min-height: 50px;
  max-height: 60px;
  align-items: center;
  border: solid green 1.5px;
}
#logo {
  color: green;
  font-size: 25px;
  font-style: italic;
}
#phone {
  padding: 4px;
}
#tablet {
  padding: 4px;
  border: solid grey 10px;
  border-radius: 7px;
}
#Companyprofile {
  flex-wrap: wrap;
  gap: 10px;
}
.row1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#phonelook {
  border: solid green;
  height: 90px;
}
#tabletlook {
  border: solid green;
}
.row2 {
  width: 100%;
  height: 70px;
  border: solid fuchsia;
}
#devops img, main img {
  margin: 0 auto;
  height: 150px;
  border-radius: 20px;
}
figure {
  border: solid 1px;
}
#devops {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
#devops .description img {
  float: left;
  margin: 5px; 
}
.name {
  font-style: italic;
  color: green;
}
#devops > li {
  border: solid 1px;
  border-radius: 10px;
}
.add_minus_cart .count {
  font-weight: bold;
  color: green;
}
.add_minus_cart {
  position: absolute;
  min-width: 150px;
}

.Xcart {
 background: lightgreen;
}
.add_minus_cart{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 height: 35px;
 max-width: 100px;
 border: solid 1px green;
}
.add_minus_cart div {
  text-align: center;
  align-content: center;
}
.add_minus_cart .minus {
  background: fuchsia;
}
.add_minus_cart .plus{
 background: green;
}
#bell {
  width: -moz-available;
  max-height: 30px;
  max-width: 30px;
  float: right;
}
.fm {
  display: none;
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
}
input {
  max-height :30px;
  min-height: 30px;
  min-width: 30px;
  border-radius:20px;
  font-size: 12px;
  margin: 0;
}
#notif{
  text-align: right;
  justify-content: top;
  color: green;
  font-size: 20px;
}

#ordertrack{
  display: flex;
  display: relative;
  flex-flow: column wrap;
  right: 50%;
}
#ordertrack div {
  flex:1 200px;
  font-weight: bold;
}
#contacts {
  position: fixed;
  bottom: 0%;
  left: 0;
  width: 70px;
  height:75px;
  border: solid;
  text-align: center;
  align-content: center;
  border-radius: 45%;
  color: green;
  font-weight: bold;
}
#orders {
  position: relative;
  display: flex;
  border-top;
  border-radius: 20px;
  align-content: bottom;
  text-align: right;
  border-left;
  border-bottom:;
  max-height: 40px;
  max-width: 40px;
  min-width: 40px;
  background-image: url("/icons/ordertrack.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: red;
}
#shoppingCart {
  border-top:
  border-radius: 20px;
  position: relative;
  display: flex;
  border-left;
  border-bottom;
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  text-align: right;
  background-image: url("/icons/cart.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#shoppingCart div, #orders div {
  position: absolute;
  top:0;
  right:90%;
  min-width: 20px;
}
#SearchBar {
  display: grid;
  text-align: center;
  height: 70%;
  margin: 0 10% 0 10%;
  border-radius: 1%;
}
#USER {
  border-radius: 10%;
  height: 100%;
  align-items: ceter;
  justify-content: center;
  text-align: center;
  align-content: center;
}
#USER > img {
  max-height: 20px;
  max-width: 20px;
  margin: 0 45%;
}
.searchbutton {
  background: red; 
}
.homebar {
  box-sizing: border-box;
  min-height: 45px;
  border-bottom:solid green 1px;
  border-top:solid green 1px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  padding:0px;
  margin: 0 auto;
}
.searchbar {
    border: solid black 1px;
    border-radius:40%;
}
.desc {
  display: grid;
  text-align: center;
  flex-flow: row wrap;
  margin: inherit;
  box-sizing: border-box;
  grid-template-columns: 3.5fr 2fr;
  border-top: solid 2px green;
  border-radius:5%;
}
.desc > div{
  flex: 1;
  margin: inherit;
}
.groceryItem {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  border: solid 1px gray;
  border-radius: 4%;
  overflow: hidden;  
}
figure > img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.PriceTag {
  align-content: center;
  text-align: center;
  border-left: solid 2px green;
}
.PriceTag div {
  text-align: center;
  align-content: center;
  font-weight: bold;
  border: solid;
  margin: 0 auto;
  font-size:130%;
  border-radius: 40%;
  margin: 2px;
}
dl, dt {
  margin:0
}
dd {
  margin-top: 0px;
  margin-bottom: 0px;
}
.name {
  margin: 0 auto;
}
.Xremove {
   color: red;
}
.Xdesc {
   background: green;
   max-height: 20px;
   display: grid;
   grid-template-columns: 4fr 1fr 2fr;
   align-items: center;
   text-align: center;
}
.Xcart{
  border: solid 1px;
  width: -moz-available;
  max-width: 500px;
  min-width: 300px;
  bottom:0;
  right: 0;
  text-align: center;
}
.XitemEntry {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 0.5fr;
  border-top:solid 1px;
  border-left: solid 1px;
  text-align: center;
  min-height: 40px;
  max-height: 50px;
  align-content: center;

}
.XitemEntry img {
  display: block;
  max-height: 40px;
  width: -moz-available;
  
}
.XcartFooter {
  border-top: solid 1px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  text-align: center;
  align-content: center;
}
.row1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
#phone {
  max-width: 50%;
  border: solid grey 10px;
  margin: auto;
  border-radius: 50px;
}
#tablet #shoppingwin {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#tablet {
  padding: 5px;
}
#lenovex230 #shoppingwin {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#x230 {
  width: 85%;
  border: solid grey 10px;
  margin: 0 auto;
}
#phone .Xcart {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
