<!doctype html>
<html lng="en">
    <head>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <meta name="author" content="kiptooharon.hk@gmail.com">
        <title>Cart</title>
        <link rel="stylesheet" href="cart.css">
    </head>
    <body>
        <div class="cart">
            <div class="desc">
                    <div>Item</div>
                    <div>price</div>
                    <div>Total</div>
             </div>
             <div class="items">
                 <div class="itemEntry">
                    <div class="name">Bananas</div>
                    <div class="quantity">50</div>
                    <div class="amount">500</div>
                    <div class="remove">X</div>
                  </div>
              </div>
              <div class="cartFooter">
                    <div> Total </div>
                    <div> 1000 </div>
              </div>
         </div>
    </body>
</html>
